$color_fondo: aqua;
body { background-color: $color_fondo;
    .Mayuscula{
        .Logofit{ margin: auto;
            .LogofitC{margin: auto;}
        }
    }
    nav {
        ul{
            .hmenu{margin: auto;

            }
        }
    }
    main{
        .centronegro{margin: auto;
        }
        .centroverde{ margin: auto;
        }
    }
    main {
        .Mayuscula{
            .Px20{margin: auto;}
        }
    }
}