main
{
    
    .centronegro{
        text-align: center;
        color: black;
        h2 {color: black};
        .p1 
        {color: black;
          font-size: 1.4rem;
          margin-bottom: 20px;
          font-family: "Inter", sans-serif;
          padding: 15px;
          line-height: 1.5;
          text-align: left;
        }
        } 
    
    .Centroverde {@extend .centronegro}  
        h2 {color: green};
        .p2{ @extend .p1};
     
    }
    
    
